/* tablet media queries */
@media screen and (min-width: 768px){
  .section__padding {
    padding: var(--padding-d-s-v) var(--padding-d-s-h);
  }
  
  /*----------*----------*----------* Section Title */
  .section__title {
    font-size: var(--font-size-d-mc);
  }
  
  /*----------*----------*----------* Section Para */
  .section__para {
    font-size: var(--font-size-st-sc);
  } 

     /*----------*----------*----------*----------*---------- Overall Layout */
     .container {
      display: grid;
      grid-template-columns:
        [container-start] repeat(12, minmax(min-content, 12.5rem))
        [container-end];
    
      grid-template-rows: repeat(9, min-content);
      justify-content: center;
    }
    
    .section__layout {
      grid-column: container-start / container-end;
    }
    /* header */
    .header::after {
        content: "";
        position: absolute;
        bottom: -65rem;
        left: 0;
        height: 60rem;
        width: 100%;
        background-color: var(--color-tertiary);
        /* background-color: red; */
        clip-path: polygon(0% 70%, 100% 0%, 100% 70%, 0% 100%, 0% 10%);
        z-index: -1;
    }
    /* hero */
    .hero__bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100%;
      z-index: -10;
    }
    

    .hero{
      background: var(--color-secondary-n);
    }
    
    .hero__bg img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: .85;
    }
    /* hero */
    .hero__content{
        width: 500px;
        margin-top: 5rem;
    }
    .hero__content--title{
        text-shadow: 4px 4px 4px var(--color-secondary);
    }

    .hero__content--para {
      color: var(--color-quaternary-m);
      z-index: 10;
    }

    .hero__content--links__portfolio {
      background-color: var(--color-tertiary);
    }
    
    /* about */

    .about > div:first-child{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, min-content);
      gap: 5rem 1rem;
    }
    .about__title{
      grid-column: 1/ span 4;
      grid-row: 1/ span 1;
    }
    .about__img {
      grid-column: 1/ span 2;
      grid-row: 2/ span 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about__content{
      grid-column: 3/ span 2;
      grid-row: 2/ span 1;
    }
    .about__content--experience{
      grid-column: 2/ span 3;
      grid-row: 3/ span 1;
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .about__img img{
        height: 80%;
        width: 300px;
    }

    .about__content{
      gap: 1rem;
      display: flex;
      justify-content: center;
    }
    
    .about__content--title span:nth-child(3){
      font-size: var(--font-size-st-mc);
    }
  
    .about__content--para {
      font-size: var(--font-size-st-sc);
      padding: 1rem;
    }
    .about__content--links__resume{
      padding:.3rem;
      font-size: var(--font-size-d-s);
    }

    /* skills */
    .skills{
      margin-top: 10rem;
    }
    
    .skills__title:before {
        content: '';
        top: 3rem;
        left: -33rem;
        width: 100%;
        height: .2rem;
        position: absolute;    
      }
      .skills__title:after {
        content: '';
        top: 3rem;
        right: -33rem;
        width: 100%;
        height: .2rem;
        position: absolute;    
      }

      /* portfolio */
    
      .portfolio__info--para{
        font-size: var(--font-size-d-s);
        text-align: center;
      }

      .portfolio__cards--container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
      
      .portfolio__card{
        border: none;
        padding: 2rem;
      }

      .portfolio__card--content__mini-title, .portfolio__card--content__link{
        padding: 1rem;
        font-size: var(--font-size-d-s);
      }

      .portfolio__info--para, .portfolio__cards--container{
        padding: 0 5rem;
      }

      /* gallery */
      .gallery{
        width: 100vw;
      }
      .media-scroller {
        grid-auto-columns: 50%;
        width: 90vw;
      }

      .media-element {
        grid-template-columns: 30rem;
        grid-template-rows: 30rem;
        /* border: solid white 3px; */
        width: 60%;
      }

      .media-element > img{
        height: 100%;
        width: 100%;
        /* border: solid red 3px; */
      }
      







      /* contact */
      .contact{
        padding-bottom: 8rem;
      }

      .contact__title {
        position: relative;
      }

      .contact__title:before{
        content: '';
        top: 3rem;
        left: -30rem;
        width: 50%;
        height: .2rem;
        background-color: var(--color-secondary);
        position: absolute;    
      }
      .contact__title:after {
        content: '';
        top: 3rem;
        right: -30rem;
        width: 50%;
        height: .2rem;
        background-color: var(--color-secondary);
        position: absolute;    
      }
}