/* mobile */
@media screen and (min-width: 768px){
    .header::after {
        content: "";
        position: absolute;
        bottom: -60rem;
        left: 0;
        height: 80rem;
        width: 100%;
        background-color: var(--color-tertiary);
        /* background-color: red; */
        clip-path: polygon(0% 70%, 100% 0%, 100% 70%, 0% 100%, 0% 10%);
        z-index: -1;
    }

    /* hero */
    .hero__content{
        width: 400px;
    }
    .hero__content--title{
        text-shadow: 2px 2px 2px var(--color-accent-m);
    }

    .hero__content--title span:nth-child(1){
        text-shadow: 2px 2px 2px var(--color-accent-m);
    }

    .hero__content--title span:nth-child(2){
        text-shadow: 2px 2px 2px var(--color-accent-m);
    }
    
    /* about */
    .about__img img{
        height: 50%;
        width: 50%;
    }
    .about__content--para {
        width: 500px;
    }
    .about__content--links__resume{
        width: 50%;
    }

    .about__content--experience {
        justify-content: center;
        align-items: center;
    }

    .about__content--experience-ul {
       padding: 3rem;
        align-items: center;
    }

    .about__content--experience div li::before {
        padding: 1rem;
    }

    .about__content--experience-ul li{
        align-items: center;
        font-size: var(--font-size-d-sc);
        font-weight: 400;
    }

    /* skills */
    .skills__title:before {
        content: '';
        top: 3rem;
        left: -30rem;
        width: 50%;
        height: .2rem;
        position: absolute;    
      }
      .skills__title:after {
        content: '';
        top: 3rem;
        right: -30rem;
        width: 50%;
        height: .2rem;
        position: absolute;    
      }

      /* portfolio */
      
      .portfolio__info--para{
        font-size: var(--font-size-d-m);
      }

      .portfolio__card--content__mini-title, .portfolio__card--content__link{
        padding: 1rem;
        font-size: var(--font-size-d-s);
      }

      .portfolio__info--para, .portfolio__cards--container{
        padding: 0 5rem;
      }

      /* gallery */
      .gallery__imgs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      /* contact */
      .contact{
        padding-bottom: 8rem;
      }

      .contact__title {
        position: relative;
      }

      .contact__title:before{
        content: '';
        top: 3rem;
        left: -30rem;
        width: 50%;
        height: .2rem;
        background-color: var(--color-secondary);
        position: absolute;    
      }
      .contact__title:after {
        content: '';
        top: 3rem;
        right: -30rem;
        width: 50%;
        height: .2rem;
        background-color: var(--color-secondary);
        position: absolute;    
      }
}