/*----------*----------*----------*----------*---------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----------*----------*----------*----------*---------- Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----------*----------*----------*----------*---------- General Styles */
:root {
    font-size: 62.5%;
  
    /*----------*----------*----------* Website Theme */
    --color-accent: rgb(255, 0, 102);
    --color-primary: hsl(200, 3%, 35%);
  
    --color-secondary: hsl(0, 0%, 11%);
    --color-secondary-m: hsla(0, 0%, 11%, 0.4);
  
    --color-tertiary: rgba(0, 255, 255, 0.551);
    --color-tertiary-m: rgb(5, 153, 153);
    --color-quaternary: rgba(255, 255, 255, 0.653);
    --color-quaternary-m: rgba(255, 255, 255);
  
    /*----------*----------*----------* Padding */
    /* 
          --------------------- Sizing Nature
          d     = dynamic
          st    = static
  
          --------------------- Sizing
  
          l     = large
          m     = medium
          s     = small
          xs    = extra small
          c     = customized
  
            
          --------------------- Orientation
          v  = vertical   (top & bottom)
          h  = horizontal (right & left)
    */
  
    /* Dynamic */
    --padding-d-l-v: calc(2rem + 12vh);
    --padding-d-l-h: calc(2rem + 12vw);
  
    --padding-d-mc-v: calc(1rem + 4vh);
    --padding-d-mc-h: calc(1rem + 4vw);
  
    --padding-d-m-v: calc(1rem + 2vh);
    --padding-d-m-h: calc(1rem + 2vw);
  
    --padding-d-s-h: calc(1rem + 1vw);
    --padding-d-s-v: calc(1rem + 1vh);
  
    /* Static */
    --padding-st-l-h: 3rem;
    --padding-st-l-v: 2rem;
  
    --padding-st-m-h: 2.5rem;
    --padding-st-m-v: 1.5rem;
  
    --padding-st-s-h: 2rem;
    --padding-st-s-v: 1rem;
  
    /*----------*----------*----------* Typography */
  
    /* 
        --------------------- Sizing Nature
        d     = dynamic
        st    = static
        
        --------------------- Sizing
        xl    = extra large
        l     = large
        m     = medium
        s     = small
        xs    = extra small
        c     = customized
        
        --------------------- Family
        font-family: 'Oswald', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
  */
  
    /* Dynmaic */
    --font-size-d-lc: calc(3rem + 3.5vw);
    --font-size-d-l: calc(2rem + 3vw);
    --font-size-d-mc: calc(2rem + 2.5vw);
    --font-size-d-m: calc(1rem + 2vw);
    --font-size-d-sc: calc(1rem + 1.5vw);
    --font-size-d-s: calc(1rem + 1vw);
  
    /* Static */
    --font-size-st-xl: 4rem;
    --font-size-st-lc: 3.5rem;
    --font-size-st-l: 3rem;
    --font-size-st-mc: 2.5rem;
    --font-size-st-m: 2rem;
    --font-size-st-sc: 1.5rem;
    --font-size-st-s: 1rem;
  
    /* Families */
    --font-family-title: "Big Shoulders Inline Text", cursive;
    --font-family-content: "Raleway", sans-serif;
    --font-family-content-m: "Inconsolata", sans-serif;
  }
  
  body {
    background-color: var(--color-primary);
    font-family: var(--font-family-content);
    line-height: 1.6;
    overflow-x: hidden;
  }
  
a {
    text-decoration: none;
    border-radius: 1rem;
  }
  
  li {
    list-style: none;
  }

/*----------*----------*----------*----------*---------- Utility Classes */
  
  /*----------*----------*----------* Section Padding */
  .section__padding {
    padding: var(--padding-d-l-v) var(--padding-d-l-h);
  }
  
  /*----------*----------*----------* Section Title */
  .section__title {
    font-size: var(--font-size-d-sc);
    font-weight: 900;
  }
  
  /*----------*----------*----------* Section Para */
  .section__para {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }
  /*----------*----------*----------*----------*---------- Overall Layout */
  .container {
    display: grid;
    grid-template-columns:
      [container-start] repeat(12, minmax(min-content, 12.5rem))
      [container-end];
  
    grid-template-rows: repeat(9, min-content);
    justify-content: center;
  }
  
  .overall-layout {
    grid-column: container-start / container-end;
  }

  img{
    width: 100%;
    height: 100%;
  }

  /*----------*----------*----------*----------*---------- Header */
  .header {
    background-color: var(--color-secondary);
    padding: var(--padding-d-m-v) var(--padding-d-l-h);
  
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
  
    position: relative;

  }
  
  .header::after {
    content: "";
    position: absolute;
    bottom: -49.5rem;
    left: 0;
    height: 50rem;
    width: 100%;
    background-color: var(--color-tertiary);
    clip-path: polygon(0% 70%, 90% 0%, 100% 50%, 0% 100%, 0% 0%);
    z-index: -1;
  }
  
  .header__logo {
    font-family: var(--font-family-title);
    font-size: var(--font-size-st-xl);
    color: var(--color-tertiary);
    padding: .5rem;
  }

  .header__logo span{
    color: var(--color-accent);
  }

  .header__logo:hover{
    scale: .95;
  }
  
  .header__nav {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  .header__nav--link {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .header__nav--link:first-child {
    color: var(--color-tertiary);
  }
  
  .header__nav--link:hover {
    scale: 1.2;
    color: var(--color-tertiary);
    text-shadow: 4px 4px 10px var(--color-tertiary);
  }

 /*----------*----------*----------*----------*---------- Hero */
 .hero {
    height: 80vh;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    position: relative;
  }
  
  .hero__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 90%;
    z-index: -1;
  }
  
  .hero__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .85;
  }
  
  .hero__content {
    flex-basis: 50%;
  
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .hero__content--mini-title {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary-m);
    letter-spacing: .2rem;
    text-transform: uppercase;
  }
  
  .hero__content--title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-d-l);
    color: var(--color-secondary);
    text-transform: uppercase;
    line-height: 1;
  }

  .hero__content--title span{
    color: var(--color-accent);
  }
  
  .hero__content--para {
    font-size: var(--font-size-st-m);
    color: var(--color-quaternary-m);
  }
  
  .hero__content--links {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
  }
  
  .hero__content--links__my-works,
  .hero__content--links__resume {
    flex-basis: 30%;
  
    padding: var(--padding-st-s-v) var(--padding-st-m-h);
    border-radius: 5rem;
    font-size: var(--font-size-st-sc);
    text-align: center;
    transition: all 0.25s ease-in-out;
  }
  
  .hero__content--links__my-works {
    border: 1px solid transparent;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  
  .hero__content--links__my-works:hover {
    background: var(--color-quaternary-m);
    color: var(--color-secondary);
    border: 1px solid var(--color-quaternary-m);
  }
  
  .hero__content--links__resume {
    color: var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
  
  .hero__content--links__resume:hover {
    background: var(--color-quaternary-m);
    color: var(--color-secondary);
    border: 1px solid var(--color-quaternary-m);
  }

/*----------*----------*----------*----------*---------- Personal Info */
.personal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
  }
  
  .personal-info__content {
    flex-basis: 50%;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .personal-info__content--para{
    color:var(--color-secondary);
    letter-spacing: .1rem;
  }

  .personal-info__content--experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .personal-info__content--experience .section__para {
    color: var(--color-quaternary);
  }
  
  .personal-info__content--experience div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .personal-info__content--experience div i {
    font-size: var(--font-size-st-sc);
    padding: var(--padding-st-s-v);
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
  }
  
  .personal-info__img {
    flex-basis: 50%;
  
    display: flex;
    justify-content: flex-end;

    position: relative;

  }

  
  
  .personal-info__img::before,
  .personal-info__img::after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  
  .personal-info__img::before {
    top: -7%;
    left: 14%;
    width: 50%;
    height: 50%;
    background-image: url("images/dot.png");
  }
  
  .personal-info__img::after {
    top: 5%;
    right: -5%;
    height: 100%;
    width: 80%;
    background-color: var(--color-tertiary);
  }
  
  .personal-info__img img {
    height: 80%;
    width: 80%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
  }
  
  .personal-info__img:hover img {
    transform: scale(0.95);
  }


  /*----------*----------*----------*----------*---------- Services */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  
    background-color: var(--color-secondary);
    color: var(--color-primary);
    position: relative;
  }

  .services::before, .my-works::before{
    content: "";
    position: absolute;
    top: -4rem;
    left: -8rem;
    height: 80rem;
    width: 100%;
    background-color: var(--color-secondary);
    clip-path: polygon(0 0, 45% 0, 100% 100%, 98% 100%);
    z-index: -1;
  }
  .services::after{
    content: "";
    position: absolute;
    bottom: -6rem;
    right: -4rem;
    height: 80rem;
    width: 100%;
    background-color: var(--color-secondary);
    clip-path: polygon(0% 58%, 41% 99%, 100% 99%, 99% 54%);
    z-index: -1;
  }
  .services__title{
    color:var(--color-quaternary);
  }
  
  .services__para {
    text-align: center;
  }
  
  .services__para span {
    display: block;
  }
  
  .services__service-cards {
    width: 100%;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6rem;
  
    margin-top: 5rem;
  }
  
  .services__service-cards--card {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  
    padding: var(--padding-st-l-h) 0;
  }
  
  .services__service-cards--card i {
    font-size: var(--font-size-st-l);
    color: var(--color-tertiary);
  }
  
  .services__service-cards--card h3 {
    font-size: var(--font-size-st-m);
  }
  
  .services__service-cards--card:nth-child(2n) {
    border-bottom: 1px solid var(--color-quaternary);
  }
  
  .services__service-cards--card:nth-child(2n + 1) {
    border-top: 1px solid var(--color-quaternary);
  }

/*----------*----------*----------*----------*---------- My Works */
.my-works {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  
    background-color: var(--color-secondary);
    position: relative;
  }
  
  .my-works__title {
    color: var(--color-quaternary);
  
    position: relative;
    padding-bottom: var(--padding-st-s-h);
  }
  
  .my-works__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: var(--color-quaternary);
  }
  
  .my-works__areas {
    display: flex;
    gap: 2rem;
  }
  
  .my-works__areas--area {
    cursor: pointer;
    transition: 0.25s ease;
  }
  
  .my-works__areas--area:first-child {
    color: var(--color-primary);
  }
  
  .my-works__areas--area:hover {
    color: var(--color-tertiary);
  }
  
  .my-works__imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 2rem;
  }
  
  .my-works__imgs--img {
    position: relative;
  }
  
  .my-works__imgs--img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary-m);
    transition: all 0.25s ease-in-out;
  }
  
  .my-works__imgs--img:hover::before {
    background: none;
  }
  
  .my-works__imgs--img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  
  .my-works__imgs--img:nth-child(1) {
    grid-column: 1/ 2;
    grid-row: 1 / 3;
  }
  
  .my-works__imgs--img:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .my-works__imgs--img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .my-works__imgs--img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .my-works__imgs--img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .my-works__imgs--img:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
  .my-works__imgs--img:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .my-works__imgs--img:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  
  .my-works__imgs--img:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

/*----------*----------*----------*----------*---------- Contact */
.parallax {
    height: 100%;
    width: 100%;
    background-image: url("images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .contact__info {
    flex-basis: 50%;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .contact__info--title {
    font-size: var(--font-size-st-mc);
    color: var(--color-quaternary-m);
  }
  
  .contact__info--title span{
    color: var(--color-tertiary-m);
  }

  .contact__info--link {
    padding: var(--padding-st-s-v) var(--padding-st-m-h);
    border-radius: 5rem;
    font-size: var(--font-size-st-sc);
    border: 1px solid var(--color-quaternary);
    color: var(--color-quaternary-m);
    transition: all 0.25s ease-in-out;
    
    align-self: flex-start;
}

.contact__info--link:hover {
    background-color: var(--color-tertiary);
    border: none;
    color: var(--color-secondary);
  }
  
  .contact__testimonial {
    flex-basis: 40%;
  
    display: flex;
    flex-direction: column;
    gap: 4rem;
  
    background-color: var(--color-tertiary-m);
    padding: var(--padding-d-mc-v) var(--padding-d-mc-h);
  }
  
  .contact__testimonial--para {
    padding-left: var(--padding-st-l-h);
    border-left: 1px solid var(--color-quaternary);
  }
  
  .contact__testimonial--info {
    display: flex;
    align-items: center;
    gap: 0 2rem;
  }
  
  .contact__testimonial--info__img {
    height: 10rem;
    width: 10rem;
  }
  
  .contact__testimonial--info__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .contact__testimonial--info div {
    display: flex;
    flex-direction: column;
  }
  
  .contact__testimonial--info__name {
    font-size: var(--font-size-st-sc);
    letter-spacing: .2rem;
  }
  
  .contact__testimonial--info__role {
    font-size: var(--font-size-st-s);
    color: var(--color-quaternary);
    letter-spacing: .2rem;
  }

/*----------*----------*----------*----------*---------- Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  
    background: linear-gradient(
        to bottom,
        var(--color-secondary),
        var(--color-secondary-m)
      ),
      url("images/footer-bg.jpg");
  
    background-size: cover;
    background-position: center;
  }
  
  .footer__newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .footer__newsletter--content {
    flex-basis: 50%;
  }
  
  .footer__newsletter--content__title {
    font-size: var(--font-size-st-mc);
    color: var(--color-quaternary);
    margin-bottom: 1rem;
  }
  
  .footer__newsletter--content__para {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }
  
  .footer form{
    display: flex;
    justify-content: end;
  }

  .footer__newsletter--form {
    flex-basis: 50%;
  
    display: flex;
  }
  
  .footer__newsletter--form input {
    background: none;
    border: none;
    outline: none;
    padding: var(--padding-st-m-v) var(--padding-st-m-h);
    font-size: var(--font-size-st-sc);
  }
  
  .footer__newsletter--form input[type="email"] {
    border: 1px solid var(--color-quaternary);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    color: var(--color-primary);


  }
  
  .footer__newsletter--form input[type="submit"] {

  
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    background-color: var(--color-quaternary-m);
  }


  .footer__author {
    display: flex;
    align-items: center;
    gap: 4rem;
  
    border-top: 1px solid var(--color-quaternary-m);
    border-bottom: 1px solid var(--color-quaternary-m);
  }
  
  .footer__author--info,
  .footer__author--quick-links,
  .footer__author--contact {
    padding: var(--padding-st-l-h) var(--padding-st-m-h) var(--padding-st-l-h) 0;
  
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }
  
  .footer__author--info {
    flex-basis: 30%;
  
    border-right: 1px solid var(--color-quaternary-m);
  }
  

  .footer__author--quick-links {
    flex-basis: 35%;
  
    border-right: 1px solid var(--color-quaternary-m);

  }
  
  .footer__author--contact {
    flex-basis: 35%;
  }
  
  .footer__author--info__para {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }
  
  .footer__author--quick-links__title,
  .footer__author--contact__title {
    font-size: var(--font-size-st-m);
    color: var(--color-quaternary);
  }
  
  .footer__author--quick-links__container,
  .footer__author--contact__container {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }
  
  .footer__author--quick-links__container li,
  .footer__author--contact__container li,
  .footer__author--contact__container i {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }

  .footer__author--quick-links__container li:hover{
    color: var(--color-tertiary);
    text-shadow: 4px 4px 10px var(--color-tertiary);
  }
  
  .footer__author--contact__container div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .footer__author--contact__container div i, .footer__author--contact__container div li{
    color: var(--color-tertiary);
  }
  
  .footer__copy-rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .footer__copy-rights p,
  .footer__copy-rights--social i {
    font-size: var(--font-size-st-sc);
    color: var(--color-accent);
  }

  .footer__copy-rights p{
    color: var(--color-tertiary);
  }
  
  .footer__copy-rights--social {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__copy-rights--social i:hover{
    scale: 1.3;
    color: var(--color-tertiary);
  }


