/*----------*----------*----------*----------*---------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----------*----------*----------*----------*---------- Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----------*----------*----------*----------*---------- General Styles */
:root {
    font-size: 62.5%;
  
    /*----------*----------*----------* Website Theme */
    --color-accent: rgb(255, 0, 102);
    --color-primary: hsl(200, 3%, 35%);
  
    --color-secondary: hsl(0, 0%, 11%);
    --color-secondary-m: hsla(0, 0%, 11%, 0.4);
  
    --color-tertiary: rgba(0, 255, 255, 0.551);
    --color-tertiary-m: rgb(5, 153, 153);
    --color-quaternary: rgba(255, 255, 255, 0.653);
    --color-quaternary-m: rgba(255, 255, 255);
  
    /*----------*----------*----------* Padding */
    /* 
          --------------------- Sizing Nature
          d     = dynamic
          st    = static
  
          --------------------- Sizing
          xl    = extra large
          l     = large
          m     = medium
          s     = small
          xs    = extra small
          c     = customized
  
            
          --------------------- Orientation
          v  = vertical   (top & bottom)
          h  = horizontal (right & left)
    */
  
    /* Dynamic */
    --padding-d-l-v: calc(2rem + 12vh);
    --padding-d-l-h: calc(2rem + 12vw);
  
    --padding-d-mc-v: calc(1rem + 4vh);
    --padding-d-mc-h: calc(1rem + 4vw);
  
    --padding-d-m-v: calc(1rem + 2vh);
    --padding-d-m-h: calc(1rem + 2vw);
  
    --padding-d-s-h: calc(1rem + 1vw);
    --padding-d-s-v: calc(1rem + 1vh);
  
    /* Static */
    --padding-st-l-h: 3rem;
    --padding-st-l-v: 2rem;
  
    --padding-st-m-h: 2.5rem;
    --padding-st-m-v: 1.5rem;
  
    --padding-st-s-h: 2rem;
    --padding-st-s-v: 1rem;
  
    /*----------*----------*----------* Typography */
  
    /* 
        --------------------- Sizing Nature
        d     = dynamic
        st    = static
        
        --------------------- Sizing
        xl    = extra large
        l     = large
        m     = medium
        s     = small
        xs    = extra small
        c     = customized
        
        --------------------- Family
        font-family: 'Raleway', sans-serif;
        font-family: 'Inconsolata', sans-serif;
        font-family: 'Big Shoulders Inline Text', sans-serif;
  */
  
    /* Dynamic */
    --font-size-d-lc: calc(3rem + 3.5vw);
    --font-size-d-l: calc(2rem + 3vw);
    --font-size-d-mc: calc(2rem + 2.5vw);
    --font-size-d-m: calc(1rem + 2vw);
    --font-size-d-sc: calc(1rem + 1.5vw);
    --font-size-d-s: calc(1rem + 1vw);
  
    /* Static */
    --font-size-st-xl: 4rem;
    --font-size-st-lc: 3.5rem;
    --font-size-st-l: 3rem;
    --font-size-st-mc: 2.5rem;
    --font-size-st-m: 2rem;
    --font-size-st-sc: 1.5rem;
    --font-size-st-s: 1rem;
  
    /* Families */
    --font-family-title: "Big Shoulders Inline Text", cursive;
    --font-family-content: "Raleway", sans-serif;
    --font-family-content-m: "Inconsolata", sans-serif;
  }
  
 
  body {
    background-color: var(--color-primary);
    font-family: var(--font-family-content);
    line-height: 1.6;
    overflow-x: hidden;
    letter-spacing: .2rem;
  }
  
  a {
    text-decoration: none;
    scale: .95;
    text-transform: uppercase;
    font-family: var(--font-family-content-m);
    font-weight: 900;
    /* border: solid red 1px; */
  }

  a:hover{
    scale: 1;
  }
  
  .btn{
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

    .btn::before{
    content: '';
    background: var(--color-quaternary-m);
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .5s;
  }


  .btn:hover::before{
    transform: translateX(100%) rotate(45deg);
    transition: all .5s;
  }

  li {
    list-style: none;
  }



/*----------*----------*----------*----------*---------- Utility Classes */
  
  /*----------*----------*----------* Section Padding */
  .section__padding {
    padding: var(--padding-d-s-v) var(--padding-d-m-h);
  }

  
  /*----------*----------*----------* Section Title */
  .section__title {
    font-size: var(--font-size-d-sc);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: var(--font-family-title);
  }
  
  /*----------*----------*----------* Section Para */
  .section__para {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }

  /*----------*----------*----------* Overall Layout */

  
  .container{
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, 30rem));
    grid-template-rows: repeat(8, minmax(min-content, 10rem));
    width: 80vw;
  }

  .section__layout{
    display: flex;
    flex-direction: column;
    align-content: center;
  }


  section{
    padding: 0 var(--padding-st-s-v);
  }

  img{
    width: 100%;
    height: 100%;
  }

    /*----------*----------*----------*----------*---------- Header */
    .header {
      background-color: var(--color-secondary);
      padding: var(--padding-d-m-v) var(--padding-d-l-h);
      display: flex;
      justify-content: space-between;
      column-gap: 2rem;
      position: relative;
      width: 100vw;

    }

    .header__logo {
      font-family: var(--font-family-title);
      font-size: var(--font-size-st-xl);
      color: var(--color-tertiary);
      /* padding: .5rem; */
      margin-left: -3rem ;
    }
  
    .header__logo span{
      color: var(--color-accent);
    }
  
    .header__logo:hover{
      scale: .95;
    }
    
    .header__nav--menu-icon{
      display: flex;
      align-items: center;
      font-size: var(--font-size-d-l);
    }

    .header__nav--menu-icon i{
      color: var(--color-quaternary-m);
    }

    .header__nav {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;
      position: absolute;
      top: 10rem;
      right: 0;
      width: 100%;
      padding: var(--padding-st-m-v);
      background: rgba(0, 0, 0, 0.853);
      display: none;
    }

    .header__nav--link {
      font-size: var(--font-size-st-sc);
      color: var(--color-quaternary);
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
    }
    
    .header__nav--link:first-child {
      color: var(--color-tertiary);
    }
    
    .header__nav--link:hover {
      scale: 1.2;
      color: var(--color-tertiary);
      text-shadow: 4px 4px 10px var(--color-tertiary);
    }