/*----------*----------*----------*----------*---------- Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----------*----------*----------*----------*---------- Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*----------*----------*----------*----------*---------- General Styles */
:root {
    font-size: 62.5%;
  
    /*----------*----------*----------* Website Theme */
    --color-accent: rgb(255, 0, 102);
    --color-primary: hsl(200, 3%, 35%);
  
    --color-secondary: hsl(0, 0%, 11%);
    --color-secondary-m: hsla(0, 0%, 11%, 0.4);
  
    --color-tertiary: rgba(0, 255, 255, 0.551);
    --color-tertiary-m: rgb(5, 153, 153);
    --color-quaternary: rgba(255, 255, 255, 0.653);
    --color-quaternary-m: rgba(255, 255, 255);
  
    /*----------*----------*----------* Padding */
    /* 
          --------------------- Sizing Nature
          d     = dynamic
          st    = static
  
          --------------------- Sizing
          xl    = extra large
          l     = large
          m     = medium
          s     = small
          xs    = extra small
          c     = customized
  
            
          --------------------- Orientation
          v  = vertical   (top & bottom)
          h  = horizontal (right & left)
    */
  
    /* Dynamic */
    --padding-d-l-v: calc(2rem + 12vh);
    --padding-d-l-h: calc(2rem + 12vw);
  
    --padding-d-mc-v: calc(1rem + 4vh);
    --padding-d-mc-h: calc(1rem + 4vw);
  
    --padding-d-m-v: calc(1rem + 2vh);
    --padding-d-m-h: calc(1rem + 2vw);
  
    --padding-d-s-h: calc(1rem + 1vw);
    --padding-d-s-v: calc(1rem + 1vh);
  
    /* Static */
    --padding-st-l-h: 3rem;
    --padding-st-l-v: 2rem;
  
    --padding-st-m-h: 2.5rem;
    --padding-st-m-v: 1.5rem;
  
    --padding-st-s-h: 2rem;
    --padding-st-s-v: 1rem;
  
    /*----------*----------*----------* Typography */
  
    /* 
        --------------------- Sizing Nature
        d     = dynamic
        st    = static
        
        --------------------- Sizing
        xl    = extra large
        l     = large
        m     = medium
        s     = small
        xs    = extra small
        c     = customized
        
        --------------------- Family
        font-family: 'Raleway', sans-serif;
        font-family: 'Inconsolata', sans-serif;
        font-family: 'Big Shoulders Inline Text', sans-serif;
  */
  
    /* Dynamic */
    --font-size-d-lc: calc(3rem + 3.5vw);
    --font-size-d-l: calc(2rem + 3vw);
    --font-size-d-mc: calc(2rem + 2.5vw);
    --font-size-d-m: calc(1rem + 2vw);
    --font-size-d-sc: calc(1rem + 1.5vw);
    --font-size-d-s: calc(1rem + 1vw);
  
    /* Static */
    --font-size-st-xl: 4rem;
    --font-size-st-lc: 3.5rem;
    --font-size-st-l: 3rem;
    --font-size-st-mc: 2.5rem;
    --font-size-st-m: 2rem;
    --font-size-st-sc: 1.5rem;
    --font-size-st-s: 1rem;
  
    /* Families */
    --font-family-title: "Big Shoulders Inline Text", cursive;
    --font-family-content: "Raleway", sans-serif;
    --font-family-content-m: "Inconsolata", sans-serif;
  }
  
 
  body {
    background-color: var(--color-primary);
    font-family: var(--font-family-content);
    line-height: 1.6;
    overflow-x: hidden;
    letter-spacing: .2rem;
  }
  
  a {
    text-decoration: none;
    scale: .95;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-family: var(--font-family-content-m);
    font-weight: 900;
  }

  a:hover{
    scale: 1;
  }
  
  .btn{
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

    .btn::before{
    content: '';
    background: var(--color-quaternary-m);
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all .5s;
  }


  .btn:hover::before{
    transform: translateX(100%) rotate(45deg);
    transition: all .5s;
  }

  li {
    list-style: none;
  }

  

/*----------*----------*----------*----------*---------- Utility Classes */
  
  /*----------*----------*----------* Section Padding */
  /* .section__padding {
    padding: var(--padding-d-l-v) var(--padding-d-l-h);

  } */
  
  /*----------*----------*----------* Section Title */
  .section__title {
    font-size: var(--font-size-d-l);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: var(--font-family-title);
    text-align: center;
  }
  
  /*----------*----------*----------* Section Para */
  /* .section__para {
    font-size: var(--font-size-st-sc);
  } */
  /*----------*----------*----------*----------*---------- Overall Layout */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*----------*----------*----------*----------*---------- Header */
  .header {
    background-color: var(--color-secondary);
    width: 100vw;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
    border-bottom: solid 1px var(--color-secondary);

  }
  
  /* .header::after {
    content: "";
    position: absolute;
    bottom: -50rem;
    left: 0;
    height: 100rem;
    width: 100%;
    background-color: var(--color-tertiary);
    clip-path: polygon(0% 70%, 100% 0%, 100% 70%, 0% 100%, 0% 10%);
    z-index: -1;
  } */
  
  .header__logo {
    font-family: var(--font-family-title);
    font-size: var(--font-size-st-xl);
    color: var(--color-tertiary);
    padding: .5rem;
  }

  .header__logo span{
    color: var(--color-accent);
  }

  .header__logo:hover{
    scale: .95;
  }
  
  .header__nav {
    display: none;
  }


  .header__nav--menu-icon i {
    color: var(--color-quaternary-m);
    font-size: var(--font-size-d-l);
  }

 /*----------*----------*----------*----------*---------- Hero */
 .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-around;
    align-items: center;
    background: 
    linear-gradient(to bottom,var(--color-secondary),
        var(--color-quaternary),
        var(--color-secondary-m), var(--color-quaternary));
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 2rem;
    z-index: 1;
  }
  
  .hero__bg {
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: -2; */
    display:none;
  }
 
  
  .hero__bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .65;
  }

  
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
  }
  
 

  /* .hero__content--email-link::after{
    content: '';
    position: absolute;
    height: 10rem;
    width: 1px;
    background-color: var(--color-secondary);
    left: .7rem;
    top: 24rem;
  } */

  .hero__content--mini-title {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary-m);
    letter-spacing: .2rem;
    text-transform: uppercase;
  }
  
  .hero__content--title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-st-xl);
    color: var(--color-secondary);
    text-transform: uppercase;
    line-height: 1;
  }
  
  .hero__content--title span{
    color: var(--color-accent);
  }
  .hero__content--title span:nth-child(2){
    color: var(--color-tertiary-m);
  }
  
  
  .hero__content--para {
    font-size: var(--font-size-d-m);
    font-weight: 500;
    color: var(--color-quaternary);
    text-align: center;

  }
  .hero__content--para span{
    color: var(--color-tertiary);
    font-weight: 800;
    scale: 1.5;
  }
    
  .hero__content--links {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
  }

  .hero__content--links__my-works,
  .hero__content--links__resume {
    padding: var(--padding-st-s-v) var(--padding-st-m-h);
    font-size: var(--font-size-st-sc);
    font-weight: 900;
    text-align: center;
    letter-spacing: .3rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

  .hero__content--links__my-works {
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
  
  .hero__content--links__resume {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  
 .hero__copy-rights--social{
    position: absolute;
    bottom: 15rem;
    right: 10rem;
  }
  
  .hero__copy-rights--social i{
    color: var(--color-quaternary-m)!important;
    padding: 0.5rem;
    align-self: center;
    scale: 1.2;
    transition: all .3s ease-in-out .3s;
 }

 .hero__copy-rights--social:hover i:hover{
    color: var(--color-accent)!important;
    border: solid 2px var(--color-accent);
    scale: .95;
 }
 .hero__copy-rights--social:hover i:nth-child(3):hover{
    color: var(--color-tertiary)!important;
    border: solid 2px var(--color-tertiary);
    scale: .95;
 }
 .hero__copy-rights--social:hover i:nth-child(4):hover{
    color: var(--color-tertiary)!important;
    border: solid 2px var(--color-tertiary);
    scale: .95;
 }

 .hero__content--email-link{
  position: absolute;
  bottom: 10rem;
  font-size: var(--font-size-d-m);
  font-weight: 600;
  color: var(--color-secondary);
}
.hero__content--email-link span{
  font-size: var(--font-size-d-s);
  font-weight: 800;
}
 /* .hero__copy-rights--social::after{
  content: '';
  position: absolute;
  height: 10rem;
  width: 1px;
  background-color: var(--color-accent);
  left: .7rem;
  bottom: -12rem;
} */
/*----------*----------*----------*----------*---------- Personal Info */
  .parallax2 {
    height: 100%;
    width: 100%;
    background-image: url("images/assets/jared-b-s6GxGrSt8tE-unsplash-resize.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;

  }
  .personal-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }


  .personal-info div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personal-info__img img {
    height: 100%;
    width: 250px;
    object-fit: cover;
  }
  
  .personal-info__content {
    background: var(--color-quaternary-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .7;
    padding: 1rem 3rem;
    margin: 3rem 1rem;
  }


  .personal-info__content--title {
    display: flex;
    flex-direction: column;

  }

  .personal-info__content--title span:nth-child(2),.personal-info__content--title span:nth-child(3){
    color: var(--color-accent);
    font-size: var(--font-size-d-m);
    font-family: var(--font-family-content-m);
  }

  
  .personal-info__content--para{
    color:var(--color-secondary);
    letter-spacing: .1rem;
    font-size: var(--font-size-d-s);
  }
  
  .personal-info__content--para__link {
    color: var(--color-tertiary-m);
    text-decoration: underline;
    z-index: 10;
  }
  
  .personal-info__content--para__link:hover {
    color: var(--color-accent);
  }
  
  .personal-info__content--experience{
    background-color: var(--color-quaternary);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 3rem; */
    padding: 3rem;
  }

  .personal-info__content--experience-title{
    font-family: var(--font-family-title);
    margin-bottom: 2rem;
  }
  .personal-info__content--experience-ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .personal-info__content--experience .section__para {
    color: var(--color-quaternary-m);
    letter-spacing: .2rem;
  }
  
  
  .personal-info__content--experience div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .personal-info__content--experience div li::before {
    font-family: 'Font Awesome 5 Free';
    content: ' \f058';
    padding: 0.5rem;
    color: var(--color-tertiary-m);
    font-size: var(--font-size-d-s);
  }
  
  .personal-info__content--experience div .section__para{
    color: var(--color-secondary);
    /* font-weight: 600; */
    font-size: var(--font-size-d-s);
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
 
  
  /* .personal-info__img::after {
    content: "";
    position: absolute;
    z-index: -1;
  } */
  
  
  /* .personal-info__img::after {
    top: 8%;
    right: -15%;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    z-index: -5;
  } */
 
  
  /* .personal-info__img:hover img {
    transform: scale(0.95); 
    filter: grayscale();
  } */
  
/*   
  .personal-info__bg figcaption{
    font-size: var(--font-size-st-s);
    letter-spacing: .2rem;
    position: absolute;
    bottom: 12rem;
    right:0;
    writing-mode: vertical-rl;
    color: var(--color-quaternary-m);
  }
  
  figcaption a{
    text-decoration: none;
    color: var(--color-quaternary);
    padding-left: .2rem;
    padding-right: .2rem;
    font-weight: 600;
  } */
  
  
  /*----------*----------*----------*----------*---------- skills */
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background: 
    linear-gradient(to top,var(--color-secondary-m),
        var(--color-secondary), var(--color-secondary));
    color: var(--color-primary);
    width: 100vw;
    padding: 1rem;
    padding-bottom: 6rem;
  }


  .skills__title{
    color: var(--color-quaternary);
    margin-top: 2rem;

  }

  
  .skills__skill-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 80%;
    padding: 1rem;
  }
  
  .skills__skill-cards--card {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    padding: var(--padding-st-l-h);
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .skills__skill-cards--card i {
    font-size: var(--font-size-st-l);
    color: var(--color-tertiary);
  }
  
  .skills__skill-cards--card h3 {
    font-size: var(--font-size-st-m);
  }

  .services__service-cards--card {
    position: relative;
    width: 250px;
    height: 200px;
  }

  .services__service-cards--card:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}
  .skills__skill-cards--card:hover i{
    color: var(--color-secondary);
}

  .skills__skill-cards--card::before {
      content: '';
      top: -5px;
      left: -5px;
      height: 24px;
      width: 24px;
      position: absolute;
      border-top: 2px solid var(--color-tertiary);
      border-left: 2px solid var(--color-tertiary);
    }
    
  .skills__skill-cards--card::after {
    content: '';
    bottom: -5px;
    right: -5px;
    height: 24px;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid var(--color-tertiary);
    border-right: 2px solid var(--color-tertiary);
  }

  .skills__skill-cards--card:hover::before,
  .skills__skill-cards--card:hover::after {
    width: 100%;
    height: 100%;
  }


  /*----------*----------*----------*----------*---------- News */
  .news {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 3rem;
    border: solid red 1px;
    margin: 3rem;
  }

  /* 


  .news__info--title {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
  }
  

  .news__info--para{
    text-align: center;
    font-size: var(--font-size-d-m);
  }
  
  .news__articles-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .news__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    position: relative;
    height: 60vh;
  }

  .news__article--content {
    display: flex;
    flex-direction: column;
    gap: 4rem; 
    padding: 3rem;
    height: 100%;
    width: 100%;
    height: 40vh;
  }

  .news__article--content__mini-titles {
    display: flex;
    justify-content: start;
    gap: 1rem;
    writing-mode: vertical-rl;
    rotate: 180deg;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .news__article--content__mini-title {
    font-size: var(--font-size-st-s);
    padding: var(--padding-st-s-v);
    background-color: var(--color-secondary);
    color: var(--color-quaternary);
    align-self: flex-start;

  }

  .news__article--content__title {
    font-size: var(--font-size-d-l);
    font-family: var(--font-family-title);
    line-height: 1.3;
    position: absolute;
    left: 5rem;
    top: 0rem;
    color: var(--color-quaternary-m);
  }
  
  .news__article--content__para{
    font-size: var(--font-size-d-s);
    color: var(--color-secondary);
    font-family: var(--font-family-content-m);
    padding-bottom: 3rem;
  }

  .news__article--content__links {
    margin: 3rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
  }
  
  .news__article--content__link {
    font-size: var(--font-size-st-sc);
    color: var(--color-secondary);
    position: relative;
    display: flex;
    align-items: center;
    scale: 1;
    padding: 0.5rem;
  }

  .news__article--content__link:hover{
    scale: .95;
  }
  
  .news__article--img {
    height: 40vh;
  }
  */
  .news__article--img img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    box-shadow: 4px 10px 4px var(--color-secondary);
  }
 

/*----------*----------*----------*----------*---------- Gallery */
  .my-works {
    display: flex;
    flex-direction: column;  
    background-color: var(--color-secondary);
    position: relative;
    height: 100%;
    width: 100vw;
    padding: 3rem;
  }
  
  .my-works__title {
    color: var(--color-quaternary);
  
    position: relative;
    padding-bottom: var(--padding-st-s-h);
  }

  
  .my-works__imgs {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
  }
  
  .my-works__imgs--img {
    position: relative;
    object-fit: cover;
  }
  
  .my-works__imgs--img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary-m);
    transition: all 0.25s ease-in-out;
  }
  
  .my-works__imgs--img:hover::before {
    background: none;
  }
  
  .my-works__imgs--img img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  
  /* .my-works__imgs--img:nth-child(1) {
    grid-column: 1/ 2;
    grid-row: 1 / 3;
  }
  
  .my-works__imgs--img:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .my-works__imgs--img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .my-works__imgs--img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .my-works__imgs--img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  
  .my-works__imgs--img:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  
  .my-works__imgs--img:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  
  .my-works__imgs--img:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  
  .my-works__imgs--img:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  } */

/*----------*----------*----------*----------*---------- Contact */
.parallax {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      var(--color-quaternary-m),
      var(--color-secondary-m)
      ),
      url("images/assets/christina-wocintechchat-com-R_W_9D-53lw-unsplash-resize.jpg");
      background-size: cover;
      background-position: top left;
      background-attachment: fixed;
      z-index: 1;
  }


  /* Photo by <a href="https://unsplash.com/@wocintechchat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Christina @ wocintechchat.com</a> on <a href="https://unsplash.com/photos/R_W_9D-53lw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
  }
  

  
  .contact__info--title {
    font-size: var(--font-size-d-m);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    /* width: 80vw;
    margin-left: -15rem; */
  }

  
  .contact__form form {  
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-secondary-m);
    padding: var(--padding-d-mc-v) var(--padding-d-mc-h);

  }

  .contact__form--title{
    text-align: center;
    font-family: var(--font-family-content-m);
    font-size: var(--font-size-d-m);
  }
  
  .contact__form input[type='text'], .contact__form input[type='email'], textarea, .contact__form input[type='submit']{
    background: transparent;
    border: none;
    border-bottom: 2px var(--color-tertiary) solid;
    outline: none;
    resize: none;
    padding: var(--padding-st-s-v);
    font-weight: 600;
  }
  .contact__form input[type='text']:hover, .contact__form input[type='email']:hover, textarea:hover, .contact__form input[type='submit']:hover{
    background: var(--color-tertiary);
  }

  .contact__form input::placeholder, .contact__form textarea::placeholder, .contact__form input[type='submit']{
    color: var(--color-secondary);
    font-family: var(--font-family-content-m);
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  
  .contact__form input[type='submit']{
    background: var(--color-tertiary);
    border:none;
  }
  .contact__form input[type='submit']:hover{
    background: var(--color-secondary);
    color: var(--color-quaternary-m);
  }

  

/*----------*----------*----------*----------*---------- Footer */
.footer {
  background: 
    linear-gradient(to bottom,
        var(--color-secondary),
        var(--color-secondary-m)), url(images/assets/conor-luddy-IVaKksEZmZA-unsplash-small.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 4rem; 
    width: 100vw;
    padding-bottom: 3rem;
  }

  
  .footer__copy-rights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .footer__copy-rights p,
  .footer__copy-rights--social i {
    font-size: var(--font-size-st-sc);
    color: var(--color-accent);
    letter-spacing: .2rem;
  }

  .footer__copy-rights p{
    color: var(--color-tertiary);
  }

  .footer__copy-rights--social i{
    padding: 2rem;
  }
  

  .footer__copy-rights--social i:hover{
    scale: 2;
    color: var(--color-quaternary-m);
  }


/* media queries */
/* MOBILE */
@media screen and (min-width: 475px){
  .personal-info__content--para{
    font-size: var(--font-size-d-s);
  }

  .personal-info__content--experience-title{
    font-size: var(--font-size-d-l);
  }
  .personal-info__content--experience-ul{
    font-size: var(--font-size-d-s);
  }

  .news__info--para{
    font-size: var(--font-size-d-sc);
  }
  .news__article {
    height: 80vh;
  }

  .news__article--content__para{
    font-size: var(--font-size-d-m);
  }

  .news__article--content__links{
    scale: 1.1;
  }
  .my-works{
    margin-right: -2rem;
  }
  .my-works__imgs--img:hover img{
    scale: 1.1;
  }
  .footer__copy-rights--social{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (min-width: 525px) {
  .personal-info__content--title{
    margin-top: 0;
    justify-content: center;
  } 

  .news__article--content{
    width: 70vw;
    height: 50%;

  }
  .news__article--img{
    height: 50%;
    width: 70vw;
  }

  .news__article--content__para{
    font-size: var(--font-size-d-s);
  }
}

@media screen and (min-width: 615px){
  .personal-info__content--experience-ul{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header::after {
    content: "";
    position: absolute;
    bottom: -60rem;
    left: 0;
    height: 80rem;
    width: 100%;
    background-color: var(--color-tertiary);
    clip-path: polygon(0% 70%, 100% 0%, 100% 70%, 0% 100%, 0% 10%);
    z-index: -1;
  }

  .hero {
    background: 
    linear-gradient(to bottom,var(--color-secondary-m),
        var(--color-secondary-m));
  }

  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: -2;
  }

 .personal-info__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }

 .personal-info__content--experience-ul{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
 }

 .services__service-cards{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
 }

 .my-works{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
 }
 .my-works__imgs{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
 }
}

@media screen and (min-width: 1024px) {
  .section__padding {
    padding: var(--padding-d-l-v) var(--padding-d-l-h);
  }
  
  /*----------*----------*----------* Section Title */
  .section__title {
    font-size: var(--font-size-d-mc);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: var(--font-family-title);
  }
  
  /*----------*----------*----------* Section Para */
  .section__para {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
  }
  /*----------*----------*----------*----------*---------- Overall Layout */
  .container {
    display: grid;
    grid-template-columns:
      [container-start] repeat(12, minmax(min-content, 12.5rem))
      [container-end];
  
    grid-template-rows: repeat(9, min-content);
    justify-content: center;
  }
  
  .overall-layout {
    grid-column: container-start / container-end;
  }

  /* img{
    width: 100%;
    height: 100%;
  } */
  /* ------------------------------------- */
  .header {
    padding: var(--padding-d-m-v) var(--padding-d-l-h);
    column-gap: 10rem;
  }
  
  .header::after {
    content: "";
    position: absolute;
    bottom: -40rem;
    left: 0;
    height: 50rem;
    width: 100%;
    background-color: var(--color-tertiary);
    clip-path: polygon(0% 70%, 100% 0%, 100% 60%, 0% 100%, 0% 10%);
    z-index: -1;
  }

  .header__nav--menu-icon i{
    display: none;
  }


  .header__nav {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  
  
  .header__nav--link {
    font-size: var(--font-size-st-sc);
    color: var(--color-quaternary);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .header__nav--link:first-child {
    color: var(--color-tertiary);
  }
  
  .header__nav--link:hover {
    scale: 1.2;
    color: var(--color-tertiary);
    text-shadow: 4px 4px 10px var(--color-tertiary);
  }

 /*----------*----------*----------*----------*---------- Hero */
 .hero {
  justify-content: flex-start;
  align-items: start;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  z-index: -2;
}

.hero__bg img {
  opacity: .65;
}


.hero__content {
  justify-content: start;
  align-items: start;
  text-align: left;
  width: 50%;
}

.hero__content--email-link{
  writing-mode: vertical-lr;
  rotate: 180deg;
  left: 7rem;
  bottom: 22rem;
  font-size: var(--font-size-st-s);
}

.hero__content--email-link span{
  font-size: var(--font-size-st-s);
}

.hero__content--email-link::after{
  content: '';
  position: absolute;
  height: 10rem;
  width: 1px;
  background-color: var(--color-secondary);
  left: .7rem;
  top: 21rem;
}



.hero__content--title {
  font-size: var(--font-size-d-l);
  color: var(--color-accent);
  text-shadow: 2px 2px 2px rgba(255, 0, 102, 0.52);
}

.hero__content--title span{
  text-shadow: 2px 2px 2px rgba(255, 0, 102, 0.52);
}

.hero__content--title span:nth-child(2){
  text-shadow: 2px 2px 2px rgba(146, 239, 239, 0.908);
}

.hero__content--para {
    font-size: var(--font-size-st-m);
    font-weight: 600;
    text-align: left;
    z-index: 10;
  }

.hero__content--links__my-works {
  background-color: var(--color-secondary);
  color: var(--color-quaternary-m);
}

.hero__content--links__resume {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.hero__copy-rights--social{
  position: absolute;
  right: 8rem;
  writing-mode: vertical-lr;
}

.hero__copy-rights--social i{
  color: var(--color-accent) !important;
}
.hero__copy-rights--social:hover i{
  color: var(--color-accent);
}

.hero__copy-rights--social:hover i:nth-child(3):hover, .hero__copy-rights--social:hover i:nth-child(4):hover{
  color: var(--color-accent)!important;
  scale: 2;
}


.hero__copy-rights--social::after{
content: '';
position: absolute;
height: 10rem;
width: 1px;
background-color: var(--color-accent);
left: 1rem;
bottom: -12rem;
}
/*----------*----------*----------*----------*---------- Personal Info */

  .personal-info {  
    gap: 5rem;
    margin: 0;
    justify-content: center;
    height: 100%;
  }

  .personal-info div{  
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

  }
  
  .personal-info__img {
    width: 30vw;
    justify-content: flex-start;
  }
  
  .personal-info__img img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
    box-shadow: 4px 10px 4px var(--color-secondary);
    z-index: -1;
  }
  
  .personal-info__img:hover img {
    transform: scale(0.95); 
    filter: none;
  }
  
  .personal-info__img::after {
    content: "";
    position: absolute;
    z-index: -5;
    top: -8%;
    right: 10%;
    height: 100%;
    width: 80%;
    background-color: var(--color-tertiary-m);
    box-shadow: 4px 10px 4px var(--color-secondary);
  }

  .personal-info__content {
    gap: 2rem;
    opacity: .8;
    margin: 0;
    height: 100%;
    flex-basis: 50%;
    box-shadow: 4px 10px 4px var(--color-secondary);
  }
  
  .personal-info__content--title{
    line-height: 1;
    font-size: var(--font-size-d-s);
    text-align: center;
    margin: 0;
  }
  
  .personal-info__content--title span{
    color: var(--color-accent);
    font-size: var(--font-size-d-m);
    font-family: var(--font-family-title);
  }
  .personal-info__content--title span:nth-child(2),.personal-info__content--title span:nth-child(3){
    color: var(--color-secondary);
    font-size: var(--font-size-st-m);
    font-family: var(--font-family-content-m);
  }
  
  .personal-info__content--experience{
    width: 40vw;
    box-shadow: 4px 4px 4px var(--color-secondary);
  }

  .personal-info__content--experience-ul {
    display: flex;
    flex-direction: column;
  }
  
  /*----------*----------*----------*----------*---------- Services */
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-secondary);
    color: var(--color-primary);
    position: relative;
  }
  
  
  .services__title{
    color: var(--color-quaternary);
    position: relative;
    letter-spacing: .2rem;
  }
  
  
  .services__para {
    text-align: center;
  }
  
  .services__para span {
    display: block;
  }
  
  .services__service-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 6rem;
    margin-top: 5rem;
  }
  
  .services__service-cards--card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 0;
    padding: var(--padding-st-l-h);
  }
  
  .services__service-cards--card i {
    font-size: var(--font-size-st-l);
    color: var(--color-tertiary);
  }
  
  .services__service-cards--card h3 {
    font-size: var(--font-size-st-m);
  }

  .services__service-cards--card {
    position: relative;
  }

  .services__service-cards--card:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  .services__service-cards--card:hover i{
    color: var(--color-secondary);
  }
  
  .services__service-cards--card::before {
    content: '';
    top: -5px;
    left: -5px;
    height: 24px;
    width: 24px;
    position: absolute;
    border-top: 2px solid var(--color-tertiary);
    border-left: 2px solid var(--color-tertiary);
    }
    
  .services__service-cards--card::after {
    content: '';
    bottom: -5px;
    right: -5px;
    height: 24px;
    width: 24px;
    position: absolute;
    border-bottom: 2px solid var(--color-tertiary);
    border-right: 2px solid var(--color-tertiary);
  }

  .services__service-cards--card:hover::before,
  .services__service-cards--card:hover::after {
    width: 100%;
    height: 100%;
  }


/*----------*----------*----------*----------*---------- News */

   .news__info--para{
    margin-bottom: 4rem;
   }

  .news__article-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .news__article {
    width: 50vw;
  }
  
  .news__article--content {
    width: 400px;
    height: 400px;
    background-color: var(--color-quaternary);
    padding: var(--padding-st-l-h);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    rotate: -5deg;
  }
  
  
  
  .news__article--content__title {
    font-size: var(--font-size-st-xl)!important;
    font-weight: 800;
    line-height: 1;
    left: -1rem;
    color: var(--color-secondary);
    grid-column: 1/ span 2;
    margin-top: 2rem;
  }
  
  .news__article--content__para{
    grid-column: 1/ span 2;
    padding: 1rem;
    font-weight: 400;
  }
  .news__article--content__mini-titles {
    bottom: 2rem;
    left: 2rem;
  }
  .news__article--content__mini-title {
    background-color: var(--color-tertiary-m);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary-m);
    box-shadow: 1px 2px 2px var(--color-secondary);
  }
  .news__article--content__links {
    justify-content: start;
    gap: 1rem;
    border-top: 1px solid var(--color-secondary-m);
    margin: 1rem;
  }
  
  
  .news__article--content__link {
    padding: var(--padding-st-s-v);
  }
  
  
  .news__article--content__link:hover{
    scale:1.3;
  }
  
  .news__article--img {
    position: absolute;
    left: 45rem;
    rotate: 5deg;
  }
  
  .news__article--img img {
    width: 400px;
    height: 400px;
    transition: all 0.6s ease-in-out;
  }
  
  .news__article--img:hover img {
    transform: scale(0.95);
  }

/*----------*----------*----------*----------*---------- Gallery */
  .my-works {
    gap: 3rem;
  }
 
  .my-works__areas {
    display: flex;
    gap: 2rem;
  }
  
  .my-works__areas--area {
    cursor: pointer;
    transition: 0.25s ease;
  }
  
  .my-works__areas--area:first-child {
    color: var(--color-primary);
  }
  
  .my-works__areas--area:hover {
    color: var(--color-tertiary);
  }
  
  .my-works__imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 2rem;
  }
  
  .my-works__imgs--img {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .my-works__imgs--img img {
    height: 100%;
    width: 100%;
  }
  
  

/*----------*----------*----------*----------*---------- Contact */  
  .contact{
    flex-direction: row;
    column-gap: 10rem;
  }
  .contact__info { 
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
  
  .contact__info--title {
    font-size: var(--font-size-st-mc);
  }


  
  form {
    flex-basis: 40%;
    gap: 4rem;
  }
  
  .contact__form--title{
    font-family: var(--font-family-content-m);
    font-size: var(--font-size-d-sc);
  }
  


/*----------*----------*----------*----------*---------- Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  
    background: linear-gradient(
        to bottom,
        var(--color-secondary),
        var(--color-secondary-m)
      ),
      url("images/assets/conor-luddy-IVaKksEZmZA-unsplash-small.jpg");
  
    background-size: cover;
    background-position: center;
  }
  
  .footer__copy-rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  
  .footer__copy-rights p,
  .footer__copy-rights--social i {
    font-size: var(--font-size-st-sc);
    color: var(--color-accent);
  }

  .footer__copy-rights p{
    color: var(--color-tertiary);
  }
  
  .footer__copy-rights--social {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .footer__copy-rights--social i:hover{
    scale: 2;
    color: var(--color-tertiary-m);
  }
}